[submodule "jsonrpc"]
	path = Libs/json-rpc-cxx
	url = git@github.com:jsonrpcx/json-rpc-cxx.git
[submodule "Libs/WiringNP"]
	path = Libs/WiringNP
	url = git@github.com:friendlyarm/WiringNP.git
[submodule "Libs/spdlog"]
	path = Libs/spdlog
	url = git@github.com:gabime/spdlog.git
